<header class="header">
  <div class="logo">
    <img alt="logo.png" ngSrc="/public/favicon.ico"/>
  </div>
  <div class="header__link">
    <div>
      <a class="header__text">Trang chủ</a>
    </div>

    <div>
      <a class="header__text">Giới thiệu</a>
    </div>

    <div>
      <a class="header__text">Điểm đến</a>
    </div>

    <div>
      <a class="header__text">Liên hệ</a>
    </div>
  </div>
</header>

<div class="container">
<!--  card test-->
  @for(item of card_data; track item.id){
    <div class="row">
        <div class="card">
          <a href="{{item.link}}">{{item.title}}</a>
          <img alt="error.png" ngSrc="{{item.image_url}}" fill/>
        </div>
    </div>
  }
</div>
<footer>
  footer
</footer>
