@use "variables" as v;

.button {
  display: block;
  width: 30px;
  height: 20px;

  &--primary {
    background-color: v.$primary-color;
  }

  &__text {
    font-size: 16px;
    text-transform: uppercase;
  }
}
