@use "../../../../assets/styles/_variable.scss" as v;

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.59);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(161, 204, 214, 0.85);
    color: white;
  }

  &__content-form {


    &label {

    }

  }
}
