/* You can add global styles to this file, and also import other style files */
@use "../src/styles/mixins.scss" as m;
@use "../src/styles/bases.scss";
@use "../src/styles/variables.scss" as v;
@use "../src/styles/buttons.scss";
@use "../src/styles/cards.scss";
@use "../src/styles/header.scss";
@use "../src/styles/footer.scss";

body {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Be VietNam Pro,Open Sans', sans-serif;
}
.container {
  @include m.flex-wrap;
  padding: v.$padding-large;

  .row {
    flex: 1 1 calc(33.33% - #{v.$padding-large});
    padding: v.$padding-small;
  }

  @media (max-width: v.$breakpoint-md) {
    flex: 1 1 calc(50% - #{v.$padding-medium});
  }
  @media (max-width: v.$breakpoint-sm) {
    flex: 1 1 100%;
  }
}
