/* You can add global style to this file, and also import other style files */

@use "style/bases.scss";
@use "style/buttons.scss";
@use "style/cards.scss";
@use "style/header.scss";
@use "style/footer.scss";

body {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Be VietNam Pro,Open Sans', sans-serif;
}


